# Pandas Challenge

Write a Pandas program to create and display a DataFrame from the following dictionary data with index labels.

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],

'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],

'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],

'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [132]:
import numpy as np
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'], 
             'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
             'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [133]:
print (exam_data)

{'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'], 'score': [12.5, 9, 16.5, nan, 9, 20, 14.5, nan, 8, 19], 'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1], 'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

In [134]:
import pandas as pd
myDataFrame=pd.DataFrame(exam_data)
print(myDataFrame)

        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
3      James    NaN         3      no
4      Emily    9.0         2      no
5    Michael   20.0         3     yes
6    Matthew   14.5         1     yes
7      Laura    NaN         1      no
8      Kevin    8.0         2      no
9      Jonas   19.0         1     yes

## Instructions

   ### 1. Print the three first rows using the head() method.

In [135]:
print(myDataFrame.head(3))

        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes

### 2. Delete rows with Nan values.
https://moncoachdata.com/blog/nettoyage-de-donnees-python/

##### Comment je peux reconnaitre le type de nan qui se trouve dans ma cellule
     1.J'ai commencé par accéder à la ligne qui pose problème ( ligne 7)
             ScoreY=myDataFrame.iloc[7]
     2.J'ai récupéré le contenu de la cellule 
             ScoreNaN= ScoreY.score
     3. Je teste ce contenu 
             if ScoreNaN==np.nan :
                print("YESS")
             if pd.isna(ScoreNaN) :
                print("Il s'agit d'une valeur manquante de type pandas")
##### Le problème c'est qu'il va falloir répeter ces opérations pour tous les nan de mon fichier => Voir une des solutions proposées lien au dessus

In [136]:
#Pour accéder à une ligne à partir de son numéro
ScoreY=myDataFrame.iloc[7]
ScoreNaN= ScoreY.score
print(ScoreNaN)
if ScoreNaN==np.nan :
    print("YESS")
if pd.isna(ScoreNaN) :
    print("Il s'agit d'une valeur manquante de type pandas")

nan
Il s'agit d'une valeur manquante de type pandas

##### Comme il s'agit d'une valeur manquante de type pandas alors on peut utiliser la méthode dropna

In [137]:
myDataFrame = myDataFrame.dropna()
print(myDataFrame)

        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
4      Emily    9.0         2      no
5    Michael   20.0         3     yes
6    Matthew   14.5         1     yes
8      Kevin    8.0         2      no
9      Jonas   19.0         1     yes

In [138]:
#Pour accéder à une ligne à partir du contenu d'une colonne
X=myDataFrame[myDataFrame['score'] == 12.5]
print( X)
ScoreX=X.score
print (ScoreX)
#pour accéder au contenu d'une colonne à partir de son numéro de ligne 
# Pour accéder à une ligne à partir de la valeur de sa colonne 
   ##How to select rows from a dataframe based on column values ?
      ##https://www.geeksforgeeks.org/how-to-select-rows-from-a-dataframe-based-on-column-values/

        name  score  attempts qualify
0  Anastasia   12.5         1     yes
0    12.5
Name: score, dtype: float64

### 3.Extract the 'name' and 'score' columns from the DataFrame.

In [139]:
# si on souhaite selectionner uniquement une seule colonne
XX=myDataFrame.score
print (XX)
# si on souhaite selectionner plusieurs colonnes 
        ##df[['col1', 'col2']]=> https://www.statology.org/pandas-select-multiple-columns/
myNewDataFrame=myDataFrame[['name','score']]
print(myNewDataFrame)

0    12.5
1     9.0
2    16.5
4     9.0
5    20.0
6    14.5
8     8.0
9    19.0
Name: score, dtype: float64
        name  score
0  Anastasia   12.5
1       Dima    9.0
2  Katherine   16.5
4      Emily    9.0
5    Michael   20.0
6    Matthew   14.5
8      Kevin    8.0
9      Jonas   19.0

### 4.Write a Pandas program to append a new row 'k' to the DataFrame with these values (name: "Suresh", score: 15.5, attempts: 1, qualify: "yes").
        ##### Pour concaterner ou bien pour faire du append il est necessaire de déclarer une nouvelle dataframe qui va contenir les informantions que l'on souhaite rajouter à la dataframe principale

In [140]:
Aajouter=  {'name':["Suresh"] , 'score': [15.5], 'attempts': [1], 'qualify': ["yes"]}
Aajouter=pd.DataFrame(Aajouter)

In [141]:
myNewDataFrame2=pd.concat([myDataFrame,Aajouter])
print(myNewDataFrame2)

        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
4      Emily    9.0         2      no
5    Michael   20.0         3     yes
6    Matthew   14.5         1     yes
8      Kevin    8.0         2      no
9      Jonas   19.0         1     yes
0     Suresh   15.5         1     yes

### 5.Write a Pandas program to delete the 'attempts' column from the DataFrame.
https://www.freecodecamp.org/french/news/analyse-de-donnees-avec-pandas-comment-supprimer-une-liste-de-rangs-dun-dataframe-pandas/
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop.html

In [142]:
print(myNewDataFrame2.drop(columns=['attempts']))

        name  score qualify
0  Anastasia   12.5     yes
1       Dima    9.0      no
2  Katherine   16.5     yes
4      Emily    9.0      no
5    Michael   20.0     yes
6    Matthew   14.5     yes
8      Kevin    8.0      no
9      Jonas   19.0     yes
0     Suresh   15.5     yes

### 6.Add a new column "Success": if the score is higher than 10 we will have 1, else we will have 0.
##### https://stackoverflow.com/questions/50375985/pandas-add-column-with-value-based-on-condition-based-on-other-columns

In [143]:
print (myNewDataFrame2)
myNewDataFrame2['Success'] = np.where(myNewDataFrame2['score']>10, 1, 0)
print (myNewDataFrame2)

        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
4      Emily    9.0         2      no
5    Michael   20.0         3     yes
6    Matthew   14.5         1     yes
8      Kevin    8.0         2      no
9      Jonas   19.0         1     yes
0     Suresh   15.5         1     yes
        name  score  attempts qualify  Success
0  Anastasia   12.5         1     yes        1
1       Dima    9.0         3      no        0
2  Katherine   16.5         2     yes        1
4      Emily    9.0         2      no        0
5    Michael   20.0         3     yes        1
6    Matthew   14.5         1     yes        1
8      Kevin    8.0         2      no        0
9      Jonas   19.0         1     yes        1
0     Suresh   15.5         1     yes        1

In [152]:
########### TEST #############
maliste = []
print(maliste)
for index, row in myNewDataFrame2.iterrows(): 
    # if myNewDataFrame2['score']> 10
    if myNewDataFrame2[myNewDataFrame2['score'] > 10 :
        maliste.append(1)
        print ("hello")
    else:           
        maliste.append(0)
        print ("NoHello")

SyntaxError: invalid syntax (2900222785.py, line 7)

### 7.After executing the final DataFrame, export it into a CSV file named "my_data".

In [154]:
myNewDataFrame2.to_csv('myNewDataFrame2.csv')