In [14]:
###############Question 1#####
y = 1
print (y)
list = [2,3,6]
print (list)
for i in list :
    x=i
    print(x)
    y=y*x
    print (y)

1
[2, 3, 6]
2
2
3
6
6
36

In [17]:
########Question 2###########
## Definir la fonction takesecond
#  elem signifie element de la liste
def takeSecond(elem):
    return elem[1]
Maliste= [(2,5),(1,2),(4,4),(2,3),(2,1)]
# sort list with key
Maliste.sort(key=takeSecond)
# print list
print('Sorted list:', Maliste)

Sorted list: [(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [23]:
takeSecond((4,1))

1

In [33]:
########Question 3###########
d1={'a':100,'b':200,'c':300}
d2={'a':300,'b':200,'c':400}
#for a in d1,d2 :
for key in d1: 
    if key in d2:
        d1[key] = d1[key] + d2[key]
    print(d1)

{'a': 400, 'b': 200, 'c': 300}
{'a': 400, 'b': 400, 'c': 300}
{'a': 400, 'b': 400, 'c': 700}

In [38]:
########Question 4###########
n=2
for i in range (2):
    key=i
    d1= {}

In [41]:
n=int(input("Enter a number:"))
d={x:x*x for x in range(1,n+1)}
print(d)

Enter a number:8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

In [45]:
#Question 5#
def organiser (elem):
    return elem[1]
Maliste2= [('item1','12.20'),('item2','15.10'),('item3','24.5')]
Maliste2.sort(key=takeSecond,reverse=True)
print (Maliste2)

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

In [52]:
#Question 6#
myset={}
print (type(myset))
myset= set()
print (type(myset))
for i in range (4): 
    myset.add(i)
    print (myset)
# supprimer un élément de la set
myset.remove(2)
print (myset)
# rajouter une élément à la set 
myset.add("planète")
print(myset)

<class 'dict'>
<class 'set'>
{0}
{0, 1}
{0, 1, 2}
{0, 1, 2, 3}
{0, 1, 3}
{0, 1, 3, 'planète'}